/*Carlton Hurdle
Bootcamp Rutgers Jan-Jul 2017
Looks great in Chrome at 75% ratio
*/

body {
	background: #777;
}

div {
	margin: auto;
}

section {
	margin: auto;
}

p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	text-align: center;
}

#header {
	width: 960px;
	padding: 25px;
	background: #ebebeb;
	color: #777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	text-align: center;
}

#nav {
	width: 960px;
	padding: 25px;
	background: #ebebeb;
	color: #777;
}

#sectionblock {
	width: 100%;
	position: relative;
}

#section {
	position: absolute;
	left: 16%;
	width: 495px;
	height: 200px;
	padding: 10px 10px 50px 10px;
	background: #ebebeb;
	color: #777;
}

#article {
	margin: auto;
	background: #777;
	color: #ebebeb;
	padding: 15px 40px 10px 40px;
}

header {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 18px;
	text-align: center;
}

#headers {
	background: #ebebeb;
 	width: 380px;
	color: #777;
	padding: 3px;
}

#paragraph {
	background: #ebebeb;
	width: 380px;
	color: #777;
	padding: 3px;
}

#asideblock {
	width: 100%;
	position: relative;
}

#aside {
	position: absolute;
	right: 16%;
	width: 465px;
	height: 200px;
	background: #ebebeb;
	padding: 10px 10px 50px 10px;
	color: #777;
	display: inline-block;
}

#footer {
	width: 960px;
	background: #ebebeb;
	padding: 25px;
	color: #777;
	position: absolute;
	bottom: 10%;
	left: 16%;
	right: 50%;
}

section.clear {
	margin: auto;
}
